* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
ul {
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  height: auto;
  max-width: 100%;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  font-size: 15px;
  margin: 24px 0 58px 0;
}
.nav {
  display: flex;
  width: 78%;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 54%;
  margin: 0;
  padding: 0;
}
.nav__item {
  padding-right: 11px;
}
.nav-sideNav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 300px;
}
.nav__list, .nav__sideNav {
  padding-left: 0;
  padding-right: 73px;
}
.nav__line-btm {
  display: block;
  height: 3px;
  margin-top: 5px;
  background: red;
  border-bottom-right-radius: 50px 16px;
  border-bottom-left-radius: 50px 16px;
  
}
.nav__link:hover {
  color: red;
  
}
.nav__link--active {
  color: red;
}
.nav-sideNav__item {
  padding-right: 36px;
}
.nav-hmb {
  padding-right: 16px;
}
.nav-hmb__line1,
.nav-hmb__line2,
.nav-hmb__line3 {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background: red;
  border-bottom-right-radius: 50px 16px;
  border-bottom-left-radius: 50px 16px;
}

.title {
  background: url(img/tesla.jpg) no-repeat center center;
  background-size: contain;
  background-position-x: -69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.title__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title__slogan {
  font-size: 90px;
  font-weight: 600;
  margin: -1px;
}
.title__subslogan {
  font-size: 15px;
  font-weight: 500;
}
.car-info {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  justify-content: center;
}
.car-info__inner {
  display: flex;
  align-self: center;
  width: 75%;
}
.car-info__title {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 35px;
  width: 157px;
}
.car-info__speed, .car-info__range {
  margin: 0;
  font-size: 35px;
  font-weight: 600;
}
.car-info__subtitle,
.car-info__subspeed {
  font-size: 12px;
  font-weight: 400;
}
.car-info__test {
  width: 115px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  vertical-align: center;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.car-info__test:before {
    width: 22px;
    content: " ";
    background-image: url(img/steering-wheel.svg);
    position: absolute;
    left: -16px;
    top: 6px;
    height:22px;
}
.car-info__order {
  border: 2px solid red;
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #E51937;
  cursor: pointer;
}
.car-info__order--red {
  background: #E51937;
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
}
.car-info__img {
  position: absolute;
  margin-right: 10px;
  top: 10px;
  right: 155px;
  width: 35px;
}
.car-info__measure {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.car-info__block {
  display: flex;
  justify-content: center;
  width: 100%;
}
.arrow-down {
  background: url(img/arrow-down.svg) no-repeat center center;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 46%;
  top: 125%;
}
/* inferface styles */

.interface {
  display: flex;
  color: #fff;
  margin-top: 95px;
  position: relative;
}
.interface__title {
  position: absolute;
  left: 50px;
  top: 20px;
  color: #E51937;
  font-size: 70px;
  font-weight: 600;
}
.interface__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 32%;
  width: 32%;
  background: #E51937;
}
.interface__picture {
  background: url(img/interrior.jpeg) no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
  background-position: -70% bottom;
}
.interface__img {
  object-fit: none;
  object-position: 57% 61%;
}
.interface__info {
  width: 75%;
}
.interface__subtitle {
  font-size: 30px;
  font-weight: 600;
}
.interface__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}
.inteface-list {
   display: flex;
   flex-direction: column;
   margin-top: 54px;
 }
 .interface-list__block {
   display: flex;
   margin-bottom: 35px;
 }
 .interface-list__txt {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 15px;
 }
 .interface-list__img-smart {
   background: url(img/screen.svg) no-repeat center center;
   background-position: 2px 0;
   height: 53px;
   width: 50px;
 }
 .interface-list__img-wifi {
   background: url(img/wifi.svg) no-repeat center center;
   background-position: 0 16px;
   height: 53px;
   width: 50px;
 }
 .interface-list__img-road {
   background: url(img/range.svg) no-repeat center center;
   background-position: 2px 0;
   height: 53px;
   width: 50px;
 }
.interface-list__item {
  font-size: 20px;
  font-weight: 600;
}
.interface-list__subtitle {
  font-size: 12px;
  font-weight: 300;
}
.car-info__buttons {
  display: flex;
}
.interface__buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto 63px;
}
.interface__btn {
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  font-weight: 700;
  background: #fff;
  text-transform: uppercase;
  color: #E51937;
  cursor: pointer;
}
.interface__btn--red {
  background: #E51937;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.interface__btn--red:before {
  content: " ";
  width: 22px;
  height: 22px;
  background-image: url(img/attention.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  left: -6px;
}
.security__background {
  position: absolute;
  z-index: 10;
  left: 14%;
  top: 17%;
}
.security {
  display: flex;
  flex-direction: row-reverse;
}
.security__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 32%;
  width: 32%;
  background: #E51937;
  z-index: -50;
}
.security__info {
  width: 85%;
  color: #fff;
  margin-top: 51px;
}
.security-rating {
  display: flex;
  justify-content: space-between;
}
.security__title {
  font-size: 30px;
  font-weight: 600;
}
.security__txt {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 21px;
}
.security-rating__txt {
  text-transform: uppercase;
  margin: 0 0 13px 0;
  font-size: 17px;
  font-weight: 700;

}
.security-rating__title {
  font-size: 30px;
  font-weight: 600;
}
.security-rating__stars {
  margin-bottom: 5px;
}
.security-rating__star {
  width: 25px;
}
.security__action {
  margin-top: 100px;
  display: flex;
}
.security-achievement {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.security-achievement__title {
  font-size: 42px;
  font-weight: 500;
}
.security-achievement__subtitle {
  font-size: 25px;
  font-weight: 400;
}
.security-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  box-sizing: border-box;
  margin: 50px auto;
}
.security-btn__item {
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  font-weight: 700;
  background: #fff;
  text-transform: uppercase;
  color: #E51937;
  cursor: pointer;
  position: relative;
}
.security-btn__item--red {
  background: #E51937;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.security-btn__item--red::before {
    content: " ";
    width: 22px;
    height: 22px;
    background-image: url(img/attention.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: -6px;
}
.security-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: -200px;
  flex-grow: 1;
}
.security-img__item {
  background: url(img/tesla_inside.png) no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 678px;
  width: 100%;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1200px) {
  .nav__list {
    padding-right: 0;
    width: 62%;
    justify-content: space-between;
  }
  .nav-sideNav {
    width: 269px;
  }
  .title {
    background-position-x: 0;
  }
  .security-img {
    margin-left: -60px;
  }
}

@media only screen and (max-width: 1118px) {
  .security-rating__place {
    display: none;
  }
  .security-rating {
    justify-content: center;
  }
}

@media only screen and (max-width: 972px) {
  .nav__list {
    display: none;
  }
  .car-info__inner {
    width: 100%;
    flex-direction: column;
  }
  .car-info__buttons {
    justify-content: space-evenly;
  }
  .car-info__block {
    justify-content: space-evenly;
    margin-bottom: 35px;
  }
  
  .interface {
    flex-direction: column;
  }
  .interface__aside {
    flex-direction: column;
    width: 100%;
  }
  .inteface-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .inteface-list {
    text-align: center;
  }
  .interface__info {
    width: 95%;
  }
  .interface__buttons {
    margin: 0 auto 20px;
  }
  .interface__subtitle {
    text-align: center;
  }
  .interface__buttons {
    width: 40%;
  }
  .interface__picture {
    height: 500px;
  }
  .interface__title {
    top: 100px;
  }
  .interface__title {
    display: none;
  }
  .security {
    flex-direction: column;
  }
  .security__sidebar {
    width: 100%;
  }
  .security__info {
    text-align: center;
  }
  .security__action {
    justify-content: center;
  }
  .security-btn {
    width: 40%;
  }
}

@media only screen and (max-width: 650px) {
  .nav-sideNav__item, 
  .car-info__buttons,
  .interface__details,
  .interface__buttons,
  .security-rating__title,
  .security-rating,
  .security__action,
  .security-btn,
  .interface__title {
    display: none;
  }
  .title {
    background-position-x: 0;
    height: 400px;
  }
  .title__inner {
    width: 100%;
  }
  .interface__picture {
    height: 340px;
  }
  .security-img {
    margin-left: 0;
  }
  .security-img__item {
    height: 400px;
  }
  .car-info__inner {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 420px) {
  .title {
    height: 450px;
  }
  .interface__picture {
    height: 290px;
  }
  .security-img__item {
    height: 290px;
  }
  .title__slogan {
    font-size: 70px;
  }
  .car-info__block {
    align-items: center;
    flex-direction: column;
  }
  .interface {
    margin: 0;
  }
}