body {
  font-family: 'Montserrat';
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #000;
}
.title {
  max-width: 1440px;
  margin: auto;
  font-weight: bold;
  margin-top: 25px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: 600;
  font-size: 15px;
}
.nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav-side {
  width: 15%;
  min-width: 216px;
  display: flex;
  justify-content: space-around;
}
.nav-links__line {
  display: block;
  height: 3px;
  margin-top: 5px;
  background: red;
  border-bottom-right-radius: 50px 16px;
  border-bottom-left-radius: 50px 16px;
}
.nav-links__item--active {
  color: red;
}
.nav-side__item:hover,.nav-links__item:hover {
  color: red;
  transition: 0.2s color ease-out;
}
.nav-hmb__line {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background: red;
  border-bottom-right-radius: 50px 16px;
  border-bottom-left-radius: 50px 16px;
}
.slogan {
  text-align: center;
}
.slogan-background {
  background: url(img/tesla.jpg) no-repeat;
  /* background-position: center -100px; */
  background-size: 100%;
  background-position: center -50px;
  width: 100%;
  height: 535px;
}
.slogan__title {
  font-size: 90px;
  font-weight: 600;
  margin: 0;
  margin-top: 75px;
}
.slogan__subtitle {
  font-size: 15px;
  font-weight: 500;
}
.specs {
  display: flex;
  justify-content: center;
}
.specs-inner {
  display: flex;
  justify-content: center;
  width: 80%;
  min-width: 740px;
}
.specs-box {
  display: flex;
  justify-content: center;
  min-width: 320px;
}
.specs-inner__item {
  display: flex;
}
.specs-box__img {
  width: 60px;
}
.specs-box__title {
  margin: 0;
  font-size: 35px;
  font-weight: 600;
}
.specs-box__subtitle {
  font-size: 12px;
  font-weight: 400;
}
.specs-box__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  margin-left: 25px;
}
.specs-order {
  display: flex;
  flex: 2;
  min-width: 280px;
  justify-content: space-evenly;
  align-items: center;
}
.specs-order__button {
  border: 2px solid red;
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #E51937;
  cursor: pointer;
}
.specs-order__button--test {
  width: 115px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  vertical-align: center;
  line-height: 40px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  border: none;
}
.specs-order__button--test::before {
  width: 22px;
  content: " ";
  background-image: url(img/steering-wheel.svg);
  position: absolute;
  left: -16px;
  top: 6px;
  height: 22px;
}
.model {
  max-width: 1440px;
  margin: 95px auto 0;
  display: flex;
  position: relative;


}
.model-title {
  position: absolute;
  left: 50px;
  top: 20px;
  color: #E51937;
  font-size: 70px;
  font-weight: 600;
}
.model-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  min-width: 440px;
  background: #E51937;
  color: #fff;
}
.model-background {
  background: url(img/interrior.jpeg) no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
  background-position: 100% calc(100% - -40px);
}
.model-aside-inner {
  width: 75%;
}
.model-aside-inner__title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 51px;
}
.model-aside-inner__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.model-specs {
  display: flex;
  flex-direction: column;
  margin-bottom: 63px;
}
.model-specs-inner--margin {
  margin-bottom: 174px;
}
.model-specs__item {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.model-specs-inner__title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
}
.model-specs-btns {
  display: flex;
  justify-content: space-around;
}
.model-specs-btns__item--transparent {
  background: #E51937;
  border: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.model-specs-btns__item {
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  font-weight: 700;
  background: #E51937;
  text-transform: uppercase;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.info {
  max-width: 1440px;
  margin: auto;
  display: flex;
}
.info-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 440px;
  color: #fff;
  max-width: 30%;
  background: #E51937;
  z-index: -50;
}
.info-aside-inner {
  width: 78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info-aside-inner__title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 51px;
}
.info-aside-inner__text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 21px;
  margin-top: 12px;
}
.info-mark__title {
  font-size: 30px;
  font-weight: 600;
}
.info-mark-sides {
  display: flex;
  flex-direction: column;
  margin-right: 42px;
}
.info-mark-levels {
  display: flex;
  margin-top: 30px;
}
.info-mark-sides__text {
  margin-bottom: 14px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.info-mark-star-row {
  margin-bottom: 5px;
}
.info-mark-star-bar {
  margin-right: 5px;
}
.info-value {
  display: flex;
  margin-top: 100px;
}
.info-btns__img {
  margin-right: 15px;
}
.info-value__title {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}
.info-value__subtitle {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}
.info-img {
  background: url(img/tesla_inside.png) no-repeat;
  background-size: 100%;
  background-position: calc(100% - 30px) calc(80% + 45px);
  height: 913px;
  width: 100%;
  margin-left: -160px;
}
.info-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0;
}
.info-btns__item--transparent {
  background: #E51937;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  position: relative;
}
.info-btns__item {
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  font-weight: 700;
  background: #E51937;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}


@media (max-width: 61em) {
  .specs-inner,
  .specs-box {
    min-width: 0;
  }
  .nav,
  .nav-side__item,
  .model-title {
    display: none;
  }
  .nav-side {
    min-width: 0;
  }
  .slogan-background {
    margin-top: 3.1em;
    height: 21em;
  }
  .specs-inner {
    width: 75%;
    flex-direction: column;
  }
  .specs-inner__item {
    justify-content: center;
}
  .specs-order {
    margin-top: 35px;
  }
  .model {
    flex-direction: column;
  }
  .model-background {
    height: 28em;
  }
  .model-aside {
    max-width: 100%;
  }
  .model-specs-btns {
    justify-content: flex-start;
  }
  .model-specs-btns__item--transparent {
    margin-right: 2.5em;
  }
  .model-specs-inner--margin {
    margin-bottom: 60px;
  }
  .info {
    flex-direction: column;
  }
  .info-img {
    order: -1;
    margin-left: 0;
    height: 450px;
    background-position: center center;
  }
  .info-aside {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 35em) {
  .model-specs,
  .info-mark,
  .info-btns {
    display: none;
  }
  .model-aside-inner {
    margin-bottom: 2.5em;
  }
  .model-aside {
    min-width: 0;
  }
  .slogan-background {
    height: 14em;
  }
  .specs-inner {
    width: 100%;
  }
  .specs-box {
    width: 45%
  }
  .specs-inner__item {
    justify-content: flex-end;
  }
  .model-background {
    height: 18em;
  }
  .specs-order__button--test,
  .specs-order__button--test:before {
    color: red;
  }
}